* {
  box-sizing: border-box;
}

footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 120px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: auto;
  overflow: visible;
}

/* áº¨n scrollbar */
body,
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  -webkit-scrollbar-width: none;
}

footer .wave {
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://i.ibb.co/rZt4Nhg/wave.png);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 4;
  opacity: 1;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 3;
  opacity: 0.5;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
  z-index: 2;
  opacity: 0.2;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 1;
  opacity: 0.7;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
